<!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted">

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3 gy-4">
                <!-- Company Info -->
                <div class="col-md-6 footer-info">
                    <a href="index.html" class="logo d-flex align-items-center">
                        <img width="70px" height="70px" th:src="@{../images/logo.png}">
                        <span>The Circle</span>
                    </a>
                    <p>
                        We are a start up to make your life easier, we  develop a modern solution to share money.
                    </p>
                    <blockquote>
                        "Time is money"
                    </blockquote>
                </div>
                <div class="col-md-4 ">
                    <p>
                        <strong>NIF:</strong>3002458203<br>
                        <strong>STAT:</strong>46101112016010800<br>
                        <strong>RCS:</strong>2016B00791<br>
                    </p>
                </div>
                <!-- Contact Details -->
                <div class="col-md-2 footer-contact text-center text-md-start" >
                    <h4>Contact Us</h4>
                    <p>
                        LOT IVE 7<br>
                        TSIAZOTAFO<br>
                        STAND N° C 403 <br>
                        <strong>Phone:</strong> <br>
                        +261 32 45 987 63<br>
                        +261 34 78 952 41<br>
                        +261 33 96 785 12<br>
                        <strong>Email:</strong> thecircle@circle.com<br>
                    </p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Spacing between Company Info and Contact Details -->
    <div class="text-center p-4"></div>

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
        © 2023 The Circle. All rights reserved.
        <a class="text-reset fw-bold" href="#">thecircle.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
