<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top" th:fragment="companyLogo">
  <div class="container-fluid">
    <!-- Navbar Brand with Logo Image -->
    <div class="navbar-brand ">
      <img width="70px" height="70px" th:src="@{../images/logo.png}">

    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  </div>
</nav>
